<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Architect, XHTML CSS Template, Free Download</title>
<meta name="keywords" content="Free CSS Template, Architect Website, XHTML, CSS" />
<meta name="description" content="Architect is a free CSS template or a free XHTML CSS layout for everyone." />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<link href="fullsize/fullsize.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="fullsize/jquery.js"></script>
<script type="text/javascript" src="fullsize/jquery.fullsize.minified.js"></script>  
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

$(function(){
				$("div.templatemo_gallery img").fullsize();
			});
</script>
</head>
<body>
	<div id="templatemo_container">
    	<div id="templatemo_header">
        	<div id="templatemo_header_logo">
            	<div id="templatemo_header_slogan">
                	Modern Building Designs
                </div>
                
                <div id="templatemo_search">
                	<form action="#" method="post">
                    	<input type="radio" name="search" value="site" checked="checked" /><label class="labels">This Site</label>
						<input type="radio" name="search" value="web" /><label class="labels">The Web</label>
                	  	<input type="text" value="Enter a keyword" name="q" class="field"  title="email" onfocus="clearText(this)" onblur="clearText(this)" />
                	  	<input type="submit" name="search" value = "" alt="Search" class="button" title="Subscribe" />
            		</form>
                </div>
            </div>
            <div id="templatemo_menu">
            	<ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#" class="last">Contact</a></li>
                </ul> 
            </div>
        </div>
        <div class="templatemo_section_1">
        	<div class="templatemo_section_1_contentarea">
            	<div class="templatemo_text">
                	<h1>Nulla imperdiet congue metus.</h1>
                    <img src="images/templatemo_icon_1.png" alt="icon" />
                    <p>Architect is a W3C standards-compliant <a href="http://www.templatemo.com" target="_parent">website template</a> provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> for free of charge. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo iatelupti.</p>
                  <p>Fanenon provident, similique sunt in culpa qui officia deserunt. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
           	  </div>
                
                <div class="templatemo_img">
                	<img src="images/templatemo_img_1.jpg" alt="CSS Template" />
                </div>
                
				<div class="cleaner"></div>

            </div>
            <div class="cleaner"></div>
            <div class="templatemo_section_1_bottom">
            </div>
        </div>
        <div id="templatemo_content_area">
       	  <div id="templatemo_left">
           		<h2><span class="big">Welcome</span> to Our Company</h2>
       		<p>Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero. <a href="#">Quisque rhoncus</a> nulla quis sem. Mauris quis nulla sed ipsum pretium sagittis. Suspendisse feugiat. </p>
	 		<p>Etiam nec enim. Cras arcu. Integer molestie. Aliquam a dui. Suspendisse ac magna quis est eleifend dictum. Suspendisse at pede vel lorem pulvinar laoreet.</p>
	 		<p><a href="#">Donec dapibus</a> viverra est. Maecenas dignissim, quam a posuere scelerisque, ligula arcu dictum turpis, id tempus turpis erat at nulla.</p>
	 		<p><a href="#">Suspendisse</a> ac magna quis est eleifend dictum. In velit urna, convallis id, pharetra in, iaculis sit amet, mi. Praesent consectetur imperdiet mauris.</p>
	 		<div class="templatemo_readmore_2"><a href="#">MORE</a></div>
            <div class="cleaner"></div>
            <a href="#"><img src="images/templatemo_newsletter.jpg" alt="News Letter" /></a>
            </div>
            
            <div class="templatmo_v_line"></div>
            <div id="templatemo_mid">
            	<h2>Featured Projects</h2>
              <p>Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget ante. Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut libero. </p>
                <p>Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla.</p>
  				<ul class="category_list">
                	<li><a href="#">Sed pellentesque placerat augue</a></li>
					<li><a href="#">Praesent consectetur imperdiet mauris</a></li>
					<li><a href="#">Suspendisse rhoncus lectus sit amet</a></li>
					<li><a href="#">Mauris varius risus fermentum nulla</a></li>
                
                </ul>
                
                <div class="templatemo_readmore_2"><a href="#">MORE</a></div>
                <div class="cleaner"></div>
                
                <h2>Projects</h2>
                <div class="templatemo_gallery">
                   	  <img src="images/templatemo_thumb_1.jpg" class="left" longdesc="images/templatemo_big_1.jpg" title="Inside Building" alt="Inside Building" />
          <img src="images/templatemo_thumb_2.jpg" class="mid" longdesc="images/templatemo_big_2.jpg" title="Building" alt="Building" />
                      <img src="images/templatemo_thumb_3.jpg" class="right" longdesc="images/templatemo_big_3.jpg" title="Building" alt="Building" /></div>
            	</div>
                
            <div class="templatmo_v_line"></div>
            <div id="templatemo_right">
            	<h2>Latest News</h2>
                
                <h3>Nulla enim nibh, consectetuer sed</h3>
                <span class="date">Sept 14th, 2048</span>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros u erat.</p>
                <div class="templatemo_readmore_2"><a href="#">MORE</a></div>
                
                <div class="templatemo_h_line"></div>
                
                <h3>Fusce pellentesque suscipit nibh</h3>
                <span class="date">Aug 21st, 2048</span>
                <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Ege stas sem.</p>
                <div class="templatemo_readmore_2"><a href="#">MORE</a></div>
                <div class="templatemo_h_line"></div>
                
                <h3>Vivamus molestie gravida turpis</h3>
                <span class="date">Jun 28th, 2048</span>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                <div class="templatemo_readmore_2"><a href="#">MORE</a></div>
            </div>
        	
        	<div class="cleaner"></div>
        </div>
        <div class="cleaner"></div>
        <div id="templatemo_footer">Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com/page/1" target="_parent">Free CSS Templates</a> </div>
    </div><!-- End Of Container -->
<!--  Free CSS Templates by TemplateMo.com  -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>